<%- include('./partials/headertwo') %>


<link href="./css/meeting.css">
<div class="container">
    <%- include('./partials/messages') %>
    <%if(meetings.length>0){%>
    <div class="row">
      <div class="col-12">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th scope="col">Title</th>
              <th scope="col">Meeting With</th>
              <th scope="col">Date of Meeting</th>
              <th scope="col">Timing</th>
              <th scope="col">Actions</th>
            </tr>
          </thead>
          <tbody>
             
                <%meetings.forEach(function(meeting){%>
                    <tr>
                        <th scope="row"><%=meeting.title%></th>
                        <td><%=meeting.meetingwith%></td>
                        <td><%=meeting.date%></td>
                        <td><%=meeting.time%></td>
                        <td>
                          <a href="/view/<%=meeting._id%>"><button type="button" class="btn btn-primary" ><i class="far fa-eye"></i></button></a>
                          <a href="/editmeeting/<%=meeting._id%>"><button type="button" class="btn btn-success" ><i class="fas fa-edit"></i></button></a>
                          <a href="/delete/<%=meeting._id%>"><button type="button" class="btn btn-danger" ><i class="far fa-trash-alt"></i></button></a>
                       
                        </td>
                      </tr>
    
                  <%})%>
              <%}%>
              
              
            
            
            
          </tbody>
        </table>
      </div>
    </div>
    <%if(meetings.length<=0){%>
        <div class="container alert alert-success alert-dismissible fade show" role="alert" style="text-align:center;margin-top:5%;width:60%;">
            No Meetings
          </div>

    <%}%>
  </div>
